.team
	h2.team__title.h2 Наша команда
	.team__rows.row
		.team__card
			.team__cart-inner
				.team__card-header
					+jpg('img/team/1','380','380','Андрей','data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==')
				.team__card-footer
					span.team__card-title Андрей
					p.team__card-prof Apps Promotion
		.team__card
			.team__cart-inner
				.team__card-header
					+jpg('img/team/2','380','380','Павел','data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==')
				.team__card-footer
					span.team__card-title Павел
					p.team__card-prof Game Designer
		.team__card
			.team__cart-inner
				.team__card-header
					+jpg('img/team/3','380','380','Михаил','data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAEALAAAAAABAAEAAAICTAEAOw==')
				.team__card-footer
					span.team__card-title Михаил
					p.team__card-prof SMM / QA