section.section-range-work
	.container
		h2.range-work__title Предоставляем полный спектр работ
		.cards-works.row
			.card-work
				.card-work__inner
					.card-work__header
						a(href="#").card-work__link
							+icon('game')
					.card-work__content
						a(href="#").card-work__title Геймдизайн
						p.card-work__text Геймдизайн Разработка концепции: механика, история, сеттинг, документация
					.card-work__circle 1
			.card-work
				.card-work__inner
					.card-work__header
						a(href="#").card-work__link
							+icon('prog')
					.card-work__content
						a(href="#").card-work__title Программирование
						p.card-work__text Кроссплатформенная разработка игры: клиентская и серверная часть
					.card-work__circle 2
			.card-work
				.card-work__inner
					.card-work__header
						a(href="#").card-work__link
							+icon('graf')
					.card-work__content
						a(href="#").card-work__title Игровая графика
						p.card-work__text Графический стиль, 2D/3D контент, интерфейс, анимации и другое
					.card-work__circle 3
			.card-work
				.card-work__inner
					.card-work__header
						a(href="#").card-work__link
							+icon('sound')
					.card-work__content
						a(href="#").card-work__title Звукорежиссура
						p.card-work__text Разработка звуковой схемы, музыка, профессиональная работа с голосом
					.card-work__circle 4