section.section-requisites
	.container
		.requisites
			h2.requisites__title.h2 Реквизиты компании
			ul.requisites__list
				li.requisites__item
					p.requisites__item-title Юридический адрес
					p.requisites__item-info Москва, ш. Каширское, д. 66, корп. 2, офис 52
				li.requisites__item
					p.requisites__item-title ИНН
					p.requisites__item-info 9724011229
				li.requisites__item
					p.requisites__item-title ОГРН
					p.requisites__item-info 1207700153385
				li.requisites__item
					p.requisites__item-title Расчетный счет
					p.requisites__item-info 40702810602290004581
				li.requisites__item
					p.requisites__item-title Банк
					p.requisites__item-info АО "АЛЬФА-БАНК"
				li.requisites__item
					p.requisites__item-title Юридический адрес Банк
					p.requisites__item-info 107078, Москва, ул. Каланчевская, 27
				li.requisites__item
					p.requisites__item-title Корр. счет банк
					p.requisites__item-info 30101810200000000593
				li.requisites__item
					p.requisites__item-title ИНН банка
					p.requisites__item-info 9724011229
				li.requisites__item
					p.requisites__item-title БИК банка
					p.requisites__item-info 044525593