section.section-hero
	.container
		.hero
			.hero__info-block-top
				.hero__title.main-title Профессиональная разработка игр на заказ
				p.hero__subtitle Полный цикл разработки любых игр на заказ: от создания концепциия до размещения на торговых площадках
				button.btn.btn--primary.hero__btn.btn-popup-call Заказать звонок
			.hero__info-block-bottom.request-call
				.hero__platform
					ul.hero__platform-list
						li.hero__platform-item
							a(href="").hero__platform-link
								+icon('un', 'icon-unity')
								span.hero__platform-text unity 3d
						li.hero__platform-item
							a(href="").hero__platform-link
								+icon('and', 'icon-android')
								span.hero__platform-text Android
					.hero__platform-blok-text
						span.hero__platform-blok-title Разработка игр для любых платформ
						p.hero__platform-blok-text Desktop (windows, linux, mac) +mobile (android, ios, windows phone) + html5,также изготовим графику, музыку и звуки с нуля, под ключ
		.block-icons#scene(data-relative-input="true")
			+icon('win', 'windows-hero')('data-depth="-0.3"')
			+icon('unreal', 'unreal-hero')('data-depth="0.3"')
			+icon('un', 'unity-hero')('data-depth="-0.3"')
			+icon('lin', 'linux-hero')('data-depth="0.3"')
			+icon('ios', 'ios-hero')('data-depth="-0.3"')
			+icon('html', 'html-hero')('data-depth="0.3"')
			+icon('and', 'android-hero')('data-depth="-0.3"')