extends ../layouts/default

block variables
	- const title = "services";
	- const name = 'services-page'

block content
	section.section-breadcrumbs
		.container
			include ../../blocks/components/breadcrumb/breadcrumb.pug
	section.section-services-cards-platform
		.container
			h2.cards-platform__title.h2  Наши услуги
			include ../../blocks/modules/cards-platform/cards.pug
	include ../../blocks/modules/answer/answer.pug
	include ../../blocks/modules/reliable/reliable.pug

block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")