.logo {
  &__link {
    display: block;
    height: 66px;

    @media screen and (max-width: 992px) {
      height: 56px;
    }

    @media screen and (max-width: 480px) {
      height: 46px;
    }
  }

  svg {
    width: 238px;
    height: 100%;
  }

  @media screen and (max-width: 992px) {
    svg {
      width: 180px;
    }
  }

  // @media screen and (max-width: 480px) {
  //   svg {
  //     width: 128px;
  //   }
  // }
}
