.article-info.article__info
	h2.article-info__title Разработка игр на Android
	.article-info__block-text
		p.article-info__text Наша игровая студия предлагает полный цикл разработки любых игр и приложений на заказ: от создания концепции до размещения на торговых площадках.
		p.article-info__text Над вашим проектом будет работать команда профессионалов под руководством высококлассных разработчиков с богатым опытом создания успешных игр международного уровня.
	.article-info__slider
		// Swiper
		.swiper-container
			.swiper-wrapper
				.swiper-slide.article-info__slide
					+jpgNoLazyLoad('img/article-slider/1','800','400','Картинка','data:image/gif;base64,R0lGODlhAgABAIAAAP///wAAACH5BAEAAAEALAAAAAACAAEAAAICTAoAOw==')
					a(href="#").article-info__slide-title Wilde Rift
				.swiper-slide.article-info__slide
					+jpgNoLazyLoad('img/article-slider/1','800','400','Картинка','data:image/gif;base64,R0lGODlhAgABAIAAAP///wAAACH5BAEAAAEALAAAAAACAAEAAAICTAoAOw==')
					a(href="#").article-info__slide-title Wilde Rift 2
				.swiper-slide.article-info__slide
					+jpgNoLazyLoad('img/article-slider/1','800','400','Картинка','data:image/gif;base64,R0lGODlhAgABAIAAAP///wAAACH5BAEAAAEALAAAAAACAAEAAAICTAoAOw==')
					a(href="#").article-info__slide-title Wilde Rift 3
				.swiper-slide.article-info__slide
					+jpgNoLazyLoad('img/article-slider/1','800','400','Картинка','data:image/gif;base64,R0lGODlhAgABAIAAAP///wAAACH5BAEAAAEALAAAAAACAAEAAAICTAoAOw==')
					a(href="#").article-info__slide-title Wilde Rift 4
			// Add Arrows
			.swiper-button-prev.article-info__prev
				+icon('slider-arrow-left')
			.swiper-button-next.article-info__next
				+icon('slider-arrow-right')