section.section-technology
	.container
		.technology
			.technology__inner
				h2.technology__title Технологии
				.technology__cards.row
					.technology-card
						.technology-card__inner
							a.technology-card__header(href="#" style="background-color: #C28EF5; background-image: url(img/technology/1.png);")
								+png('img/technology/4','380','240','img','data:image/gif;base64,R0lGODlhEwAMAIAAAP///wAAACH5BAEAAAEALAAAAAATAAwAAAINjI+py+0Po5y02ottAQA7')
							.technology-card__content
								a(href="#").technology-card__title Казуальные игры
								p.technology-card__text Игры по простым правилам для широкого круга игроков.
							.technology-card__footer
								span.technology-card__price от 50 000 ₽
					.technology-card
						.technology-card__inner
							a.technology-card__header(href="#" style="background-color: #47A2E5; background-image: url(img/technology/2.png);")
								+png('img/technology/5','380','240','img','data:image/gif;base64,R0lGODlhEwAMAIAAAP///wAAACH5BAEAAAEALAAAAAATAAwAAAINjI+py+0Po5y02ottAQA7')
							.technology-card__content
								a(href="#").technology-card__title Ролевые игры (RPG)
								p.technology-card__text Сюжет, инвентарь, боссы, экипировка, диалоги. Множество локаций.
							.technology-card__footer
								span.technology-card__price от 100 000 ₽
					.technology-card
						.technology-card__inner
							a.technology-card__header(href="#" style="background-color: #2FE7A5; background-image: url(img/technology/3.png);")
								+png('img/technology/6','380','240','img','data:image/gif;base64,R0lGODlhEwAMAIAAAP///wAAACH5BAEAAAEALAAAAAATAAwAAAINjI+py+0Po5y02ottAQA7')
							.technology-card__content
								a(href="#").technology-card__title Мультиплеер
								p.technology-card__text Многопользовательские игры в различных жанрах. Делаем, размещаем и администрируем
							.technology-card__footer
								span.technology-card__price от 300 000 ₽