.section-technology {
  padding-top: 160px;
  padding-bottom: 80px;
  background-color: var(--white);

  @media screen and (max-width: 1280px) {
    padding-top: 80px;
    padding-bottom: 60px;
  }

  @media screen and (max-width: 768px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @media screen and (max-width: 480px) {
    padding-bottom: 0;
  }
}

.technology {
  &__title {
    text-align: center;
    font-family: var(--p-extraBold);
    line-height: 72px;
    @include fluidFontSize(40px, 64px, 767.98px, 1920px);
    color: var(--dark);
    margin-bottom: 64px;

    @media screen and (max-width: 480px) {
      font-size: 25px;
      line-height: 38px;
      margin-bottom: 40px;
    }
  }
}

.technology-card {
  $height: 32px;
  @extend .coll-4;

  @media screen and (max-width: 768px) {
    flex: 0 1 50%;
    max-width: 50%;
    margin-bottom: 20px;
  }

  @media screen and (max-width: 667px) {
    flex: 0 1 100%;
    max-width: 100%;
    margin-bottom: 40px;
  }

  &:hover {
    .technology-card__header img {
      transform: translateX(25px);
    }
  }

  &__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__footer {
    margin-top: auto;
  }

  &__header {
    height: 240px;
    border-radius: 8px;
    margin-bottom: $height;
    position: relative;
    display: block;

    img {
      position: absolute;
      height: max-content;
      max-width: max-content;
      bottom: 0;
      transform: translateX(20px);
      transition: var(--transition);
    }
  }

  &__title {
    font-family: var(--p-extraBold);
    font-size: 32px;
    line-height: 38px;
    color: var(--dark);
    display: block;
    margin-bottom: 10px;
    opacity: 1;
    transition: var(--transition);

    @media screen and (max-width: 768px) {
      font-size: 26px;
      line-height: 28px;
    }

    @media screen and (max-width: 480px) {
      font-size: 20px;
      line-height: 28px;
    }

    &:hover {
      opacity: 0.8;
    }
    &:active {
      opacity: 0.9;
    }
  }

  &__text {
    margin: 0;
    margin-bottom: $height;
    font-size: 18px;
    line-height: 28px;
    color: var(--grey);

    @media screen and (max-width: 768px) {
      margin-bottom: 30px;
    }
  }

  &__price {
    font-size: 28px;
    line-height: 40px;
    color: var(--dark);

    @media screen and (max-width: 480px) {
      font-size: 20px;
      line-height: 28px;
    }
  }
}
