.footer-top
	.container
		.footer-top__inner
			.footer-top__widgets.row
				.footer-top__widget.widget-logo.order-1
					.logo.footer-top__logo
						a(href="#").logo__link
							+icon('logo-white')
				.footer-top__widget
					h2.footer-top__widget-title Студия
					ul.footer-top__widget-list
						li.footer-top__widget-item
							a(href="#").footer-top__widget-link Прайс-лист
						li.footer-top__widget-item
							a(href="#").footer-top__widget-link Компания
						li.footer-top__widget-item
							a(href="#").footer-top__widget-link Контакты
				.footer-top__widget
					h2.footer-top__widget-title Наши услуги
					ul.footer-top__widget-list
						li.footer-top__widget-item
							a(href="#").footer-top__widget-link Разработка игр на Android
						li.footer-top__widget-item
							a(href="#").footer-top__widget-link Разработка игр на Unity
						li.footer-top__widget-item
							a(href="#").footer-top__widget-link Перевод игр на заказ
				.footer-top__widget.order-1
					.widget-contats.footer-top__widget-contats
						.widget-contats__item
							a(href="#").widget-contats__icon
								+icon('phone')
							.widget-contats__block
								span.widget-contats__title Круглосуточно
								a(href="tel:+1234567890").widget-contats__link +7 499 1123822
						.widget-contats__item
							a(href="#").widget-contats__icon
								+icon('email')
							.widget-contats__block
								span.widget-contats__title Электронная почта
								a(href="mailto:info@seobro.ru").widget-contats__link info@seobro.ru
						.address.widget-contats__item
							.widget-contats__icon
								+icon('point', 'address__logo')
							.widget-contats__block
								span.address__info 115409, г. Москва <br> Каширское шоссе, 66к2
								span.address__name ООО "ДРИМЛИД"
.footer-bottom
	.container
		.footer-bottom__inner
			.footer-bottom__block-left
				a(href="#").footer-bottom__policy Политика обработки персональных данных
				a(href="#").footer-bottom__policy Политика конфиденциальности
				p.footer-bottom__copy &#169; 2020 Все права защищены
			.footer-bottom__block
				a(href="#").footer-bottom__item
					span.footer-bottom__item-title Telegram
					+icon('link', 'footer-bottom__icon')
				a(href="#").footer-bottom__item
					span.footer-bottom__item-title Skype
					+icon('link', 'footer-bottom__icon')
