section.section-typical-solutions
	.container
		.typical-solutions
			.typical-solutions__inner
				h2.typical-solutions__title Технологии
				p.typical-solutions__subtitle У нас есть компетенции воплотить в жизнь любую задумку по ТЗ заказчика.
				.typical-solutions__cards.row
					.typical-solutions-card
						.typical-solutions-card__inner
							.typical-solutions-card__content
								a(href="#").typical-solutions-card__link
									+jpg('img/typical-solutions/1','280','160','Игры','data:image/gif;base64,R0lGODlhBwAEAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAQAAAIEjI+pWwA7')
								a(href="#").typical-solutions-card__title Три в ряд
					.typical-solutions-card
						.typical-solutions-card__inner
							.typical-solutions-card__content
								a(href="#").typical-solutions-card__link
									+jpg('img/typical-solutions/2','280','160','Игры','data:image/gif;base64,R0lGODlhBwAEAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAQAAAIEjI+pWwA7')
								a(href="#").typical-solutions-card__title Ролевые игры (RPG)
					.typical-solutions-card
						.typical-solutions-card__inner
							.typical-solutions-card__content
								a(href="#").typical-solutions-card__link
									+jpg('img/typical-solutions/3','280','160','Игры','data:image/gif;base64,R0lGODlhBwAEAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAQAAAIEjI+pWwA7')
								a(href="#").typical-solutions-card__title Платформеры
					.typical-solutions-card
						.typical-solutions-card__inner
							.typical-solutions-card__content
								a(href="#").typical-solutions-card__link
									+jpg('img/typical-solutions/4','280','160','Игры','data:image/gif;base64,R0lGODlhBwAEAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAQAAAIEjI+pWwA7')
								a(href="#").typical-solutions-card__title Стратегии
					.typical-solutions-card
						.typical-solutions-card__inner
							.typical-solutions-card__content
								a(href="#").typical-solutions-card__link
									+jpg('img/typical-solutions/5','280','160','Игры','data:image/gif;base64,R0lGODlhBwAEAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAQAAAIEjI+pWwA7')
								a(href="#").typical-solutions-card__title Мультиплеер
					.typical-solutions-card
						.typical-solutions-card__inner
							.typical-solutions-card__content
								a(href="#").typical-solutions-card__link
									+jpg('img/typical-solutions/6','280','160','Игры','data:image/gif;base64,R0lGODlhBwAEAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAQAAAIEjI+pWwA7')
								a(href="#").typical-solutions-card__title Безопасность
					.typical-solutions-card
						.typical-solutions-card__inner
							.typical-solutions-card__content
								a(href="#").typical-solutions-card__link
									+jpg('img/typical-solutions/7','280','160','Игры','data:image/gif;base64,R0lGODlhBwAEAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAQAAAIEjI+pWwA7')
								a(href="#").typical-solutions-card__title Сюжет и диалоги
					.typical-solutions-card
						.typical-solutions-card__inner
							.typical-solutions-card__content
								a(href="#").typical-solutions-card__link
									+jpg('img/typical-solutions/8','280','160','Игры','data:image/gif;base64,R0lGODlhBwAEAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAQAAAIEjI+pWwA7')
								a(href="#").typical-solutions-card__title Монетизация
				button.btn.btn--primary.typical-solutions__btn.btn-popup-request Оставить заявку