section.section-answer
	.container
		.answer
			.answer__block-info
				h2.answer__title Наши эксперты готовы оперативно ответить на ваши вопросы
				p.answer__text Если вы собираетесь навестить наш офис, сообщите менеджеру желаемые время и дату визита, и мы будем ждать встречи с вами!
				button.btn.btn--primary.answer__btn.btn-popup-request Оставить заявку
			.answer__block-img
				span.answer__block-text.answer__block-text--1 Самые лучшие :)
					+icon('left-h')
				span.answer__block-text.answer__block-text--2 Какие игры вы разрабатываете?
					+icon('right-h')
				+png('img/answer/img1','611','740','Big Android','data:image/gif;base64,R0lGODlhPQBKAIAAAP///wAAACH5BAEAAAEALAAAAAA9AEoAAAJIjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi2sFADs=')